.wrapper{

}
.center-image{
	background-image: url('../../images/akshay.jpg');
	background-repeat: no-repeat;
	background-position: 60%;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	background-size: 155%;
	margin: 20% auto 0 auto;
}
.main-desc{
	margin: 20% auto 0 auto;
	padding: 10px;
	font-size: 1.2rem;
}
.web-icons-cnt{
	margin: 20px auto 0 auto;
	width: 200px;
	text-align: center;
}
.web-icons-cnt li{
	background-color: #a6bcc6;
	border-radius: 50%;
	margin: 5px auto;
	width: 38px;
	height: 38px;
}
/*.web-icons-cnt li:hover{
	background-color: #5A7B8A;
}*/

.web-icons-cnt .GitHub:hover{
	background-color: #000;
}

.web-icons-cnt .Stackoverflow:hover{
	background-color: #F48024;
}

.web-icons-cnt .LinkedIn:hover{
	background-color: #1A84BC;
}


.web-icons-cnt .fa{
	font-size: 20px;
	color: white;
	padding: 8px 6px;
}
.knol-logo{
	background-image: url('../../images/k-logo.png');
	background-repeat: no-repeat;
	float: right;
	height: 50px;
	width: 98%;
	background-size: 100%;
}
.job-title{
	margin-top: 0px;
	font-size: 1.2rem; 
}
.page-header{
	color: #2A6496 !important;
	font-size: 1.5rem;
}
.vit-logo{
	background-image: url('../../images/vit.png');
	background-repeat: no-repeat;
	float: right;
	height: 50px;
	width: 50px;
	background-size: 100%;
}
.skill-icons li{
	padding: 10px;
}
.skill-icons li:hover,.skill-list li:hover{
	background-color: #E9E9E9;
}
.skill-icons i{
	font-size: 3rem;

}
.skill-list li{
	padding: 5px;
	border-radius: 5px;
	background-color: #E1E1E1;
	margin: 5px;
}

.interest-list li{
	padding: 5px;
	margin: 5px;
	text-align: center;
}
.interest-list .fa{
	font-size: 6rem;
}

.contact-cnt{
	min-width: 240px;
	margin: 0px auto;
	text-align: center;
	padding: 20px;
}
.more-projects{
	width: 24%;
	margin: 20px auto;
	min-width: 297px;
}
.linkedIn-btn:hover{
	background-color: #1A84BC;
	color: #FFF;
}
.github-btn:hover{
	background-color: #000;
	color: #fff;
}
.git-repo-cnt, .git-usr-cnt{
	margin: 20px 0;
}
.git-btns{
	margin: 5px;
}
/**
 * Media Queries
 */
@media (max-width: 768px) {
 	.main-desc{
 		margin: 0 auto;
 	}
 	.center-image{
 		margin: 5% auto 0 auto;
 	}
}

.project-cnt{
	min-height: 200px;
}