@import url('http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext');

body {
	background: #FAFAFA;
	font-family: Lato,sans-serif,Arial;
	font-size: 1rem !important;
}

@media (max-width: 768px) {
 html{
	 font-size: 65%;
 }
}
@media (max-width: 970px) {
 html{
	 font-size: 80%;
 }
}
@media (min-width: 1170px) {
 html{
	 font-size: 100%;
 }
}

.navbar-inverse{
	background-color: #fff !important;
	border-color: #fff !important;
	margin: 0px !important;
	box-shadow: 0 2px 2px -1px rgba(0,0,0,.5);
	-webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,.5);
}

.header-cnt *{
	color: #000 !important;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	color: #2A6496 !important;
	background-color: transparent !important;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{
	color: #2A6496 !important;
}
.navbar-toggle{
	background-color: #333;
}
.nav-float{
	float: right;
}

@media (max-width: 768px) {
	.nav-float{
		float: none;
	}
}

.container .fp-tableCell {
	vertical-align: top;
}
.center-image{
	background-image: url('images/akshay.jpg');
	background-repeat: no-repeat;
	/* background-position: 60%; */
	border-radius: 50%;
	width: 200px;
	height: 200px;
	background-size: 100%;
	margin: 10% auto 0 auto;
}
.main-desc{
	margin: 10% auto 0 auto;
	padding: 10px;
	font-size: 1.2rem;
}
.web-icons-cnt{
	margin: 20px auto 0 auto;
	width: 220px;
	text-align: center;
}
.web-icons-cnt li{
	background-color: #a6bcc6;
	border-radius: 50%;
	margin: 5px auto;
	width: 38px;
	height: 38px;
}

.web-icons-cnt .GitHub:hover{
	background-color: #000;
}

.web-icons-cnt .Stackoverflow:hover{
	background-color: #F48024;
}

.web-icons-cnt .LinkedIn:hover{
	background-color: #1A84BC;
}

.web-icons-cnt .Twitter:hover{
	background-color: #1da1f2;
}

.web-icons-cnt .Medium:hover{
	background-color: #292929;
}


.web-icons-cnt .fa{
	font-size: 20px;
	color: white;
	padding: 8px 6px;
}
.exp-row{
	margin-top: 30px;
}
.rzp-logo{
	background-image: url('images/rzp-logo.png');
	background-repeat: no-repeat;
	float: right;
	height: 50px;
	width: 98%;
	background-size: 100%;
}
.knol-logo{
	background-image: url('images/k-logo.png');
	background-repeat: no-repeat;
	float: right;
	height: 50px;
	width: 98%;
	background-size: 100%;
}
.job-title{
	margin-top: 0px;
	font-size: 1.2rem; 
}
.page-header{
	color: #2A6496 !important;
	font-size: 1.5rem;
}
.vit-logo{
	background-image: url('images/vit.png');
	background-repeat: no-repeat;
	float: right;
	height: 50px;
	width: 50px;
	background-size: 100%;
}
.skill-icons li{
	padding: 10px;
}
.skill-icons li:hover,.skill-list li:hover{
	background-color: #E9E9E9;
}
.skill-icons i{
	font-size: 3rem;

}
.skill-list li{
	padding: 5px;
	border-radius: 5px;
	background-color: #E1E1E1;
	margin: 5px;
}

.interest-list li{
	padding: 5px;
	margin: 5px;
	text-align: center;
}
.interest-list .fa{
	font-size: 6rem;
}

.contact-cnt{
	min-width: 240px;
	margin: 0px auto;
	text-align: center;
	/* padding: 20px; */
}
.more-projects{
	width: 24%;
	margin: 20px auto;
	min-width: 297px;
}

.more-projects .linkedIn-btn:hover{
	background-color: #1A84BC;
	color: #FFF;
}
.more-projects .github-btn:hover{
	background-color: #000;
	color: #fff;
}
.git-repo-cnt, .git-usr-cnt{
	margin: 20px 0;
}
.git-btns{
	margin: 5px;
}
/**
 * Media Queries
 */
@media (max-width: 768px) {
 	.main-desc{
 		margin: 0 auto;
 	}
 	.center-image{
 		margin: 5% auto 0 auto;
 	}
}

.container .project-cnt{
	min-height: 150px;
}
.project-cnt a {
	display: inline-block;
	margin: 5px 0;
}